:root {
  /* App */
  --theme-hue: 128;
  --theme-saturation: 55%;
  --theme-lightness : 61%;

  /* Base */
  --base-background-color: #28282b;
  --selection-color: #293f5a;

  /* Content */
  --link-color: var(--theme-color);
  --link-color--hover: white;
  --link-text-decoration: none;

  /* Cover page */
  --cover-heading-font-size: var(--font-size-xl);
  --cover-heading-font-size-max: var(--font-size-xl);
  --cover-blockquote-color: var(--theme-color);
  --cover-button-primary-background--hover: hsl(var(--theme-hue), var(--theme-saturation), calc(var(--theme-lightness) - 15%));
  --cover-button-primary-border--hover: 1px solid hsl(var(--theme-hue), var(--theme-saturation), calc(var(--theme-lightness) - 15%));

  /* Navbar */
  --navbar-root-color--active: var(--theme-color);
  --navbar-root-color--hover: var(--theme-color);

  /* Stuff on the sidebar */
  --sidebar-background: var(--base-background-color);
  --sidebar-name-font-size: calc(var(--font-size-l) - 1px);
  --sidebar-name-margin: 1rem 0 1rem;
  --search-margin: 0 0 0;
  --sidebar-nav-link-text-decoration--hover: none;
  --sidebar-nav-link-color--hover: var(--theme-color);
  --sidebar-nav-link-font-weight--active: var(--strong-font-weight);
  --sidebar-nav-link-before-content--active: ;
  --sidebar-nav-link-before-content-l1: ;
  --sidebar-nav-link-before-content-l1--active: ;
  --sidebar-nav-link-before-content-l2: ;
  --sidebar-nav-link-before-content-l2--active: ;
  --sidebar-nav-link-before-content-l3: ;
  --sidebar-nav-link-before-content-l3--active: ;
  --sidebar-nav-link-before-content-l4: ;
  --sidebar-nav-link-before-content-l4--active: ;

  --sidebar-nav-pagelink-background-image--active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%28101, 210, 115%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
  --sidebar-nav-pagelink-background-image--collapse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28101, 210, 115%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
  --sidebar-nav-pagelink-background-image--loaded: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%28101, 210, 115%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
  
  --sidebar-toggle-background: #232325;

  /* Search bar */
  --search-background: var(--base-background-color);
  --search-input-background-color: var(--base-background-color);
}

.cover p {
  margin: .3em 0 0;
}

.cover blockquote p {
  margin: 1em 0 0;
}